

.cursive-text {
    font-family: cursive;
}


/* Add a smooth scroll effect to the navbar links */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Verdana', 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #f5f5f5; /* Replace background image with a simple color */
    margin: 0;
}

.modal-content {
    background-color: #f5f5f5;
    border-radius: 20px;
}


.navbar {
    background: rgba(255, 255, 255, 0.1); /* Transparent navbar */
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

.navbar-text {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adds a shadow to make the text clearer */
    font-size: 2.5rem;
}

.navbar img {
    border-radius: 50%; /* Makes the logo round */
}

.navbar-nav {
    margin-left: auto;
}

h1, h5 {
    font-weight: 700;
}





h1, h5 {
    font-weight: 700;
}

.card {
    border-radius: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.9);
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
}

/* .card:hover {
    transform: translateY(-5px);
    
} */

.h-100 {
    height: 100%;
}

.bg-light {
    background-color: rgba(248, 249, 250, 0.85) !important;
}




.form-group label {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.form-group label i {
    margin-right: 8px;
    color: #007bff;
}



