{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<!-- Button Container -->
<div class="d-flex justify-content-between">
    <!-- Home Button on the Left -->
    <a href="{% url 'index' %}" class="btn btn-secondary">
        <i class="bi bi-house-door"></i> Home
    </a>

    <!-- Download Button on the Right -->
    <button id="download-pdf" class="btn btn-secondary ms-auto">
        <i class="bi bi-download"></i> Download as PDF
    </button>
</div>

<div class="container mt-5 border-custom p-4">
    <div id="invoice-content">

        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center mb-4 p-4">
            <h2>Invoice Summary :</h2>
        </div>

        <!-- Projects and Employees Summary -->
        {% for project_name, employees in project_summary %}
            <div class="card mb-5" style="page-break-after: always; max-width: 800px; margin: auto;">
                <div class="card-header bg-dark custom-radius">
                    <h3 class="text-white">Company: {{ project_name }}</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover text-center" style="font-size: 0.9em; width: 100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th>Employee ID</th>
                                <th>Total Hours Worked</th>
                                <th>Unit Price</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td>{{ employee.employee_id }}</td>
                                <td>{{ employee.total_hours }}</td>
                                <td>{{ employee.unit_price }}</td>
                                <td>{{ employee.cost }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right"><strong>Total Cost</strong></td>
                                <td>{{ project_total_costs|get_item:project_name }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        {% endfor %}


    </div>
</div>

<!-- Back to Top Button -->
<button onclick="scrollToTop()" id="back-to-top" class="btn btn-secondary m-5">
    <i class="bi bi-arrow-up"></i> Back to Top
</button>

{% endblock %}

{% block extra_scripts %}

    <!-- This script will convert the invoice content to a PDF file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
        
    <!-- Passing Django Variables to JS -->
    <script>
        const fileId = "{{ file_id }}";  // Pass file_id to external JavaScript
    </script>

    <!-- External JS File -->
    <script src="{% static 'js/invoice_summary.js' %}"></script>
{% endblock %}
